* {
  font-family: "Noto Serif Thai", "Lato", sans-serif;
}

.App {
  height: 100%;
  background: linear-gradient(160deg, #cbdbf4 30%, #a5bdff 90%);
  color: rgb(255, 255, 255);
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
}

.opacity-container {
  background-color: rgba(255, 255, 255, 0.346);
  width: 50%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-image {
  background-image: url("https://img.freepik.com/free-photo/calculator-money-wallet-investment-saving-finance-concept-pink-background-3d-rendering_56104-1432.jpg?w=1380&t=st=1658169249~exp=1658169849~hmac=08e013eedeec1052d8ed307eaaf5db9bcdf5f7ea47caabd8e3ecbe6e1d82d727");
  backdrop-filter: saturate(1);
  height: 100vh;
  width: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* object-fit: cover; */
}

/* .login-image img {
  width: 100%;
  object-fit: cover;
} */
